<h1>Creature Parent</h1>
<h2><%= @user.name %></h2>

<section>
  <h3>Creatures</h3>
    <ul>
      <% @user.products.each do |product| %>
        <li><%= link_to "#{product.name}", product_path(product.id) %></li>
        <% if logged_in? %>
          <%= link_to "Edit", edit_product_path(product.id)%>
        <% end %>
      <% end %>
    </ul>
<section>
