<h1>Creature Parent</h1>
<h2><%= @user.name %></h2>

<ul>
  <%= @user.products.each do |product_details| %>
    <%= product_details.each do |product|%>
      <li><%= product.name %><li>
      <% end %>
  <% end %>
</ul>

<p>View list of products with option to update and edit them<p>
