<% if @current_user == nil %>
  <h2> You must sign in to view the fulfillment page. </h2>
<% else %>
<h2> <%= @current_user.name %>'s Fulfillment page: Paid Orders </h2>
<%= render partial: "fulfillment" %>
<h3> Order count: <%= @orders.count %> </h3>
<h3> Fundraising Revenue: <%= @total_revenue %> </h3>
<% end %>
